* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('media/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-y: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

/* First Layer */
.weather-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto -20px auto;
    background-size: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 182, 223);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 325px;
    animation: blur 0.4s ease-in;
}

.time,
.date {
    font-weight: bold;
}
/* Second Layer */
.card-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(116, 182, 223);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 325px;
    animation: blur 0.4s ease-in;
}

.card-two img {
    height: 50px;
    width: 50px;
}

.card-two button {
    margin: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.card-two button img {
    background-size: contain;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 50px;
    width: 50px;
}

/* Action Buttons */
.open {
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    border: none;
    padding: 4px;
    border-bottom: 2px solid rgb(74, 8, 105);
    background-color: darkorange;
    border-radius: 8px;
    color: black;
}

.open:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.close:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

/* Form */
input {
    font-size: 18px;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    border: none;
    border-bottom: 2px solid darkorange;
    border-radius: 2px;
    color: white;
}

input::placeholder {
    color: white;
}

input:focus {
    background-color: transparent;
    color: white;
}

form button {
    border: none;
    background-color: transparent;
    height: 100px;
}

form button span {
    font-size: 20px;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

form button span:hover {
    background-color: darkorange;
    transition: 0.4s;
}

/* Utility */
.wrapper-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hidden {
    display: none;
}

/* Animations */
@keyframes blur {
    0% {
        filter: blur(25px);
    }
    100% {
        filter: blur(0);
    }
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #000000b7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed; 
    bottom: 0; 
    left: 0; 
  }

footer img {
    width: 25px;
    background-color: white;
    border-radius: 50%;
    padding: 2px;
}

footer a img:hover {
    background-color: darkorange;
    cursor: pointer;
    transition: 0.4s;
}